<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586404627964-iriovn0hf72v4vca55tdsuk4ca15r4tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586404627964-iriovn0hf72v4vca55tdsuk4ca15r4tb</string>
	<key>API_KEY</key>
	<string>AIzaSyCjXSRslDXyiGk8oj27zPDswq2-NvjSYxE</string>
	<key>GCM_SENDER_ID</key>
	<string>586404627964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ohMyPills</string>
	<key>PROJECT_ID</key>
	<string>open-fashion-4f28b</string>
	<key>STORAGE_BUCKET</key>
	<string>open-fashion-4f28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586404627964:ios:15bb8385d76c024778de79</string>
</dict>
</plist>